@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}


  
